<div class="content historia-messi">
    <p class="intro-text">Hubo un tiempo en que recibir una invitación a una fiesta organizada por Sean “Diddy” Combs era recibir una de las entradas más codiciadas en la industria del entretenimiento.

        Con listas de invitados que incluían a Justin Bieber, Mariah Carey, Paris Hilton y Jennifer Lopez, sus eventos eran la oportunidad para codearse con algunas de las celebridades más importantes del mundo.
        
        Hasta Jay-Z y Beyoncé lanzaron nueva música en sus eventos.
        
        "Cuando Diddy te guiñaba un ojo y te decía que entraras a la sección VIP, sabías que te esperaba una muy buena noche", dijo en una entrevista exclusiva con BBC News Rob Shuter, quien trabajó como publicista del rapero en el apogeo de su fama.</p>
    <p class="highlight-text">Ahora el excliente estrella de Shuter está sentado en una celda de la cárcel de Brooklyn, a poca distancia de los Hamptons, el balneario en el que organizó en el pasado fiestas para las celebridades.

    </p>
    <div class="history-highlight">
        <img src="https://s2-g1.glbimg.com/GnEZvw0Z6uVT_Kzzuf2w02M5zY0=/0x0:1920x1080/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2024/E/s/T8SBwcSdG5UnGBV6NuiQ/design-sem-nome.png" alt="PiP Diddy">
        <blockquote class="quote">"Pensaba que era un rey": las controvertidas fiestas que llevaron a la caída del rapero Sean "Diddy" Combs</blockquote>
    </div>
</div>


<header class="header">
    <a href="/fotos" class="cta-button top-left-button">Ver fotos reveladoras de diddy</a>

</header>

<header class="header">
    <a href="/formulario" class="cta-button top-left-button">Llena un formulario si fuiste acosado por Diddy</a>

</header>


<header class="header">
    <a href="/carrusel" class="cta-button top-left-button">Lo mas impactante de Diddy</a>

</header>
  

