<header class="header">
    <a href="/fotos" class="cta-button top-left-button">Ver fotos reveladoras de diddy</a>

</header>

<header class="header">
    <a href="/formulario" class="cta-button top-left-button">Llena un formulario si fuiste acosado por Diddy</a>

</header>


<header class="header">
    <a href="/carrusel" class="cta-button top-left-button">Lo mas impactante de Diddy</a>

</header>

<div class="content">
</div>
<footer>
    <p>&copy;"Pensaba que era un rey": las controvertidas fiestas que llevaron a la caída del rapero Sean "Diddy" Combs</p>
</footer>

  

